@charset "UTF-8";

.uno {
	text-align: center;
	border: 0.1em solid black;
	font-size: xx-large;
}

.rojo {
	border-top: 1em red double;
	border-left: 1em red double;
}

.azul {
	border-bottom: 1.5em blue dashed;
	border-top: 0.5em blue dashed;
	border-left: 2em green dashed;
	border-right: 1em green dashed;
}

.yellow {
	border: gold 1em solid;
	border-width: 2em 1em;
	border-style: double;
}

.lime {
	border-top: lime 1em solid;
	border-bottom: blue 1em solid;
}

.grande {
	border-color: red black black;
	border-width: 2em;
	border-style: dashed solid dotted;
}

.final {
	border-top: 0.5em black dotted;
	border-bottom: 1em dashed;
	border-left: red 2em double;
	border-right: black 2em solid;
}

.fixed {
	position: fixed;
	bottom: 0;
	right: 0;
	border-top: 0.1em solid black;
	background-color: white;
	padding-bottom: 1em;
	width: 100%;
	height: 2em;
	text-align: center;
}

.pie {
	position: relative;
	display: inline-block;
	font-size: smaller;
}

.italic {
	font-style: italic;
}